@charset "utf-8";
/* CSS Document */

h1{
	color: black;
	text-align:left;
	text-decoration: underline;
}

nav{
	background: #1A1A1A;
	width:  100%;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
}
nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	display: inline-block;
	margin: 7px -2px;
	color: aliceblue;
}

a{
	text-decoration: none;
	color: aliceblue;
	font-weight: bolder;
	padding: 5px 10px;
}
li:nth-of-type(1) a:hover{
	border-bottom: 3px solid #1BC51B;
}
li:nth-of-type(2) a:hover{
	border-bottom: 3px solid #0EB4D8;
	
}

li:nth-of-type(3) a:hover{
	border-bottom: 3px solid #E72041;
	
}

h3{
	color: black;
	text-align:left;
	text-decoration: underline;
}