@charset "utf-8";
/* CSS Document */

h1{
		color:#000;
		text-align: center;
	}


 h3{
		color:#000;
		text-align: center;
	}

div.lista{
width: 16%; 
height: 50%; 
background-color:#000;
float: center;
}


	
	p{
		font-family: arial;
		margin: 20px;
		color:#FFF;
		text-align:center;
	}
	
	